
*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  ;
}
.btn {
   background-color:#30B868;
   font-weight:600;
   color:#ffffff;
   border-radius:4px;
   border:none;
   
}
.play-btn{
   
    color:#ffffff;
    margin-left:16px;
    background-image:url(../assets/hero-bg.png);
    background-attachment: fixed;
    padding:17px;
    10;
}


.color-white{
    color:white;
    display:block;
    align-items: center;
    
    
    
}
.color-white p{
    font-size:18px;
    text-align: center;
    font-weight:400;
    
}
.color-green{
    color:green;
    
}


.logo img{
    height: 60px;
    width: 139px;
    
}
header{
    background-color: #ffffff;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:16px 120px;
    width:100%;
    max-width:1600px;
}
nav .menu {
    display:flex;
    list-style: none;
    gap:32px;
}
nav .menu a{
    font-size:16px;
    color:#000000;
    text-decoration: none;
}
nav .btn{
    padding:12px 16px;
}
.first-line{
    
    background-color: #ffffff;
    padding:8px 12px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:6px;
    
    border-radius:1000px;
    width:229px;
    margin:auto;
}
.first-line p{
    font-size:16px;
    color:#30B868;


}

 .circle{
    height:16px;
    width:16px;
    border-radius:8px;
    background:radial-gradient(circle,#034f03 2%,#6ca87c 50%,#d4e3d6 30%);

}

    

.banner{
    background-image: url(../assets/hero-bg.png);
    width:100%;
    align-items: center;
    
}
.contents {
    max-width:1360px;
    padding:70px 120px 134px 120px;
    

    
}
.contents h1{
    text-align:center;
    font-style:Bold;
    font-weight: 700;
    font-size:72px;
    padding:auto 295px;
}


.banner-buttons{
    display:flex;
   justify-content: center;
   align-items: center;
   
}
.banner-buttons .btn{
    padding:17px;
    display:flex;
    align-items: center;
    gap:10px;
}
.first-paragraph{
    color:white;
    line-height:24px;
    font-size:18px;
    text-align:center;
    margin-top:16px;
    margin-bottom:32px;
}
#notes{
    width:85%;
    max-width:1360px;
    margin:0px 120px 44px 120px;
    text-align:center;
}
#notes h2{
    font-weight: 700;
    font-size:48px;
}
#notes p{
    font-size:16px;
    line-height:20px;
    color: #627382;
}
.cards {
    display:flex;
    width:85%;
    max-width:1360px;
    margin:120px;
    gap:24px;
    
}

.cards img{
    
    background-color: #F95555
}
.cards .card-child{
    display:flex;
    flex-direction:column;
    justify-content: center;
    gap:16px;
    align-items: center;
    padding:24px;
    border-radius:8px;
    box-shadow:0px 0px 8px 0px #627382;
    
}
.card-child h2{
    font-size:24px;
    font-weight:600;
    text-align:center;
    letter-spacing: 0%;
    
}
.card-child p{
    font-size:16px;
}
.second-brain{
    display:flex;
    max-width:1360px;
    margin:120px;
}
.second-brain .img{
    width:600px;
    height:600px;
}
.solution{
    padding:102px 0px 102px 60px;
    display:flex;
    gap:16px;
    flex-direction:column;
    justify-content: flex-start;
    align-items:baseline;
}
.solution p{
    text-align:left;
    font-size:16px;
    color:#627382;
    margin-bottom:24px;
}
.solution h6{
    
    text-align: left;
    color:#30B868;
    font-size:16px;
    margin:0;
}
.solution h1{
    margin-top:0px;
}
.solution img{
    
    padding-top:4px;
    width:20px;
    height:20px;
    
    
}
.solution ul{
   
    list-style:none;
    

    
}
.solution ul li{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap:6px;
    font-size:16px;
        max-width:700px;

}
.challenge-part{
    max-width:1360px;
    padding:80px 40px;
    margin:2px 120px 120px 120px;
    background-color: #f7f6f2;
}
.challenge{
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.challenge .btn{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-top:24px;
    margin-bottom:16px;
    padding:12px 16px;
}
.challenge h2{ 
    font-size:40px;
    font-weight: 700;
    text-align: center;

}
.challenge p{
    font-size:16px;
    color:#627382;
    text-align: center;
}

    .challenge-part ul{
        margin:0 auto;
        display:flex;
        gap:20px;
        align-items: center;
        text-align: center;
        justify-content: center;
        color:#627382

    }
    footer{
        padding:120px 120px 30px 120px;
        background-color: #001931;
        color:#FFFFFF;
        width:100%;

    }
    .footer-contents{
        max-width:1360px;
        max-height:64px;
        margin:0 auto;
        display:flex;
        justify-content: space-between;
        align-items: flex-start;
        padding:8px 20px;
    }
    .left{
        display: flex;
        align-items: flex-start;
    }
    .left img{
        height:60px;
        width:139px;
        display:block;
    }
    .right{
        display:flex;
        align-items: flex-start;
    }
    .social{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap:8px;
    }
    .social-title{
        color:#FFFFFF
        font-size : 20px;
        font-weight : 500;
    }
    .social-icons{
        display:flex;
        align-items: center;
        gap:8px;
    }
    .icon{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height:20px;
        width:20px;
        border-radius: 50%;
        
        background-color: #FFFFFF;
        text-decoration: none;
    }
    footer hr{
       max-width:1360px;
        margin: 80px 120px 30px 120px;
        border:1px solid #E5E7EB33;
        
    }
    .copyright{
        text-align: center;
        color:#FFFFFF;
    }