
*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  ;
}
.btn {
   background-color:#30B868;
   font-weight:600;
   color:#ffffff;
   border-radius:4px;
   border:none;
   padding:12px 16px;
}
.play-btn{
    padding:12px 16px;
    color:#ffffff;
    margin-left:16px;
    background-image:url(../assets/hero-bg.png);
    background-attachment: fixed;
}
.color-white{
    color:white;
    display:block;
    align-items: center;
    
    
    
}
.color-white p{
    font-size:18px;
    text-align: center;
    font-weight:400;
    
}
.color-green{
    color:green;
    
}
.container{
    width:85%;
    max-width:1360px;
}
.logo img{
    height: 60px;
    width: 139px;
    
}
header{
    background-color: #ffffff;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:16px 120px;
    margin:auto;
    width:85%;
    max-width:1360px;
}
nav .menu {
    display:flex;
    list-style: none;
    gap:32px;
}
nav .menu a{
    font-size:16px;
    color:#000000;
    text-decoration: none;
}
.first-line{
    
    background-color: #ffffff;
    padding:8px 12px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:6px;
    
    border-radius:1000px;
    width:229px;
    margin:auto;
}
.first-line p{
    font-size:16px;
    color:#30B868;


}

 .circle{
    height:16px;
    width:16px;
    border-radius:8px;
    background:radial-gradient(circle,#034f03 2%,#6ca87c 50%,#d4e3d6 30%);

}

    

.banner{
    background-image: url(../assets/hero-bg.png);
    width:100%;
    align-items: center;
    
}
.contents {
    width:85%;
    max-width:1360px;
    padding:115px 120px 180px 120px;
    
}
.contents h1{
    text-align:center;
    font-style:Bold;
    font-weight: 700;
    font-size:72px;
}


.banner-buttons{
    display:flex;
   justify-content: center;
   align-items: center;
}
.first-paragraph{
    color:white;
    line-height:24px;
    font-size:18px;
    text-align:center;
    margin-top:16px;
    margin-bottom:32px;
}
#notes{
    width:85%;
    max-width:1360px;
    margin:0px 120px 44px 120px;
    text-align:center;
}
#notes h2{
    font-weight: 700;
    font-size:48px;
}
#notes p{
    font-size:16px;
    line-height:20px;
}
.cards {
    display:flex;
    width:85%;
    max-width:1360px;
    margin:auto;
    gap:24px;
    
}

.cards img{
    
    background-color: #F95555
}
.cards .card-child{
    display:flex;
    flex-direction:column;
    justify-content: center;
    gap:16px;
    align-items: center;
    padding:24px;
    border-radius:8px;
    box-shadow:0px 0px 8px 0px #627382;
    
}
.card-child h2{
    font-size:24px;
    font-weight:600;
    text-align:center;
    letter-spacing: 0%;
    
}
.card-child p{
    font-size:16px;
}